@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --text-color: rgb(81, 81, 81);
  --font-color: rgb(78, 78, 78);
  --border-color: #a2a2a2;

  --table-bg: #F8FAFB;
  --table-header-font-color: gray;
  --table-data-font-color: rgb(153, 153, 153);
  --table-row-hover-bg: #F8FAFB; 
  --table-new-row-bg: #F1E6FF;

  --header-bg: #ffffff;
  --text-color: #000000;

  --sidebar-bg: #F8FAFB;
  --sidebar-text: #000000;

  --primary-btn: #7714FB;
  --secondary-btn: #8528ff;
  --background-btn-inactive: #E3EFFA;
}

.dark {
  --background: #0b0b0b;
  --foreground: #ffffff;

  --text-color: #e5e5e5;
  --font-color: #d1d1d1;
  --border-color: #3a3a3a;

  --table-bg: #0f1115;
  --table-header-font-color: #b8b8b8;
  --table-data-font-color: #c9c9c9;
  --table-row-hover-bg: #1b1c1f;
  --table-new-row-bg: #1a1030;

  --header-bg: #0d0d0d;
  --sidebar-bg: #0e1013;
  --sidebar-text: #ffffff;

  --primary-btn: #8b5cff;
  --secondary-btn: #9d77ff;

  --background-btn-inactive: #1f1f1f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
    --background-btn: #7714FB;
    --background-btn-inactive: #E3EFFA;

  }
}



@layer utilities{
  .input-field {
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  padding-right: 2.5rem;
  border-radius: 0.375rem;
  outline: none;
  transition: all 0.2s ease;
}

/* Focus State */
.input-field:focus {
  box-shadow: 0 0 0 1px var(--border-color);
  border-color: transparent;
}

/* Disabled State */
.input-field:disabled {
  background-color: #f3f4f6;
  cursor: not-allowed;
}

.sidebar-link {
    display: flex;                   
    align-items: center;              
    padding: 0.5rem;                
    width: 100%;                     
    border-radius: 0.25rem;         
    column-gap: 1rem;                 
    transition: all 0.2s ease;  
  }
  .sidebar-link:hover {
  padding-left: 0.75rem;  
  background-color: var(--primary-btn); 
  color: var(--background);
 }
  .sidebar-link.active {
      background-color: var(--primary-btn);
      color: var(--background);
      transition: all 0.2s ease;
  }
 .sidebar-link span{
    font-size: 1.25rem;
    color: var(--font-color);
 }

 .sidebar-link .sidebar-span{
    font-size: 1rem;
    color: var(--font-color);
 }
 .sidebar-link:hover i, .sidebar-link:hover span {
    color: var(--background);
 }
 .sidebar-link.active i,.sidebar-link.active span {
    color: var(--background);
    transition: all 0.2s ease;
 }

 .primary-btn {      
  background-color: var(--primary-btn);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.primary-btn:hover {
  background-color: var(--secondary-btn);
  color: white;
}

.gray-btn{
  background-color: rgb(209 213 219);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.gray-btn:hover{
    background-color: rgb(229 231 235);
}

.chart-switch{
  background: var(--sidebar-bg);
  border: 1px solid var(--border-color);
  border-radius: 999px;
  padding: 2px;
  display: flex;
  gap: 4px;
}

.chart-btn{
  background: var(--background-btn-inactive);
  color: var(--font-color);
  border: none;
  padding: 0.35rem 0.9rem;
  font-size: 0.9rem;
  border-radius: 999px;
  cursor: pointer;
  transition: all .25s ease;
}

/* Hover */
.chart-btn:hover{
  background: var(--primary-btn);
  color: #fff;
  transform: translateY(-1px);
}


.chart-btn.active{
  background: var(--primary-btn);
  color: white;
}

}